.header-map #map {
  width: 100%;
  height: 400px;
}

.view-store-locator .form-item-field-geofield-distance-unit,
.view-store-locator .geofield-proximity-origin-from,
.view-store-locator .form-item-field-geofield-distance-distance {
  display: none;
}

.location.selected {
  background: #eee;
}

.view-map .views-exposed-form .description {
  cursor: pointer;
}